@{
    ViewData["Title"] = "Home Page";
    
}
<div class="homeInfo">

    <h1>Welcome to MTB Events</h1>
    
    <p>Discover worldwide mountain biking events. Explore the events tab to see past and upcoming events</p>

    <div class="homeImages">
        <img class="homeIMG-left"  src="~/images/MTBHomeImage1.png" />
        <img class="homeIMG-right" src="~/images/MTBHomeImage2.png" />
        <img class="homeIMG-left"  src="~/images/MTBHomeImage3.png" />
        <img class="homeIMG-right" src="~/images/MTBHomeImage4.png" />
    </div>

</div>
